@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

/* Reset*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  box-sizing: border-box;
  }
  /* Variable */
:root {
  --nav-bg-color: #444444;
  --nav-bg-hover-color: #ddd;
  --nav-text-color: #ffffff;
  --nav-text-hover-color: black;

  --body-bg-color: #f1f1f1;
  --body-text-color: #444444;

  --box-bg-color: #ffffff;
  --box-titles-color: #075da8;
  --box-text-color: #444444;
  --box-shadow-color: #00000067 ;

  --btn-bg-color: #075da8;
  --btn-text-color: #ffffff;
  --btn-bg-hover-color: #059fdb;
}

/* Remove Arrows Box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Nav Bar */
.topnav {
  overflow: hidden;
  background-color: var(--nav-bg-color);
}
.topnav a {
  float: left;
  display: block;
  color: var(--nav-text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: var(--nav-bg-hover-color);
  color: var(--nav-text-hover-color);
}
.icone {
  position: absolute;
  display: flex;
  margin-right: 0%;
  margin-left: 90%;
  margin-top: -3px;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
  margin: 0;
}
.content {
  align-self: center;
  background-color: var(--box-bg-color);
  padding: 0px 60px 60px 60px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
input[type=number] {
  width: 50%;
  padding: 5px 2px;
  box-sizing: border-box;
  border-radius: 5px;
  }
.button {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 0 0;
  float: right;
  cursor: pointer;
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  border-radius: 3px;
  vertical-align: baseline;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  text-decoration: none !important;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
}
.button:hover {
  background-color: var(--btn-bg-hover-color) !important;
  color: var(--btn-text-color);
}
h1 {
  color: var(--box-titles-color);
  padding-top: 10px;
  padding-bottom: 50px; 
}
.ImgCenter {
  display: flex;
  margin: auto;
}

/* Result */
#resultado {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: start; 
  margin: auto;
  padding: 50px 50px;
  border-radius: 3px;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
  width: auto;
  height: 500;
  display: none;
}

/* Refresh Button*/
.button2 {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  float: inline-end;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 3px;
  background: #07a845;
  color: var(--btn-text-color);
  display: inline-block;
  border-radius: 100px;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
  width: 100px;
  height: 45px;  
  display: none;
}
.button2:hover {
  background-color: #05db65 !important;
  color: var(--btn-text-color);
}


/* Mobile Responsible */
@media(max-width:450px){
  .icone{
    max-width: 40px;
    margin: auto;
    position: absolute;
    display: flex;
    margin-left: 330px;
    margin-top: 2px;
  }
  input, h2 {
    margin: auto;
    font-size: 15px;
  }
  h1 {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
    margin-left: -20px;
    box-sizing: content-box;
  }
  .ImgCenter {
    margin: 0px auto;
    max-width: 100%;
    line-height: 26px;
 
  }
  #resultado{
    font-size: 15px;
    text-align: center;
    padding: 10%;
    margin: auto;
    max-width: 100%;
    }
}