@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Remove Arrows Box*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* BARRA */
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*CORPO*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #444444;
  background-color: #f1f1f1;
  margin: 0;
}
.content {
  align-self: center;
  background-color: #ffffff;
  padding: 0px 60px 60px 60px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 2px 2px 4px #00000067;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
input[type=number] {
  width: 50%;
  padding: 5px 2px;
  box-sizing: border-box;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
input[type=number]:hover {
  background: #daeeff;
  color: rgb(0, 0, 0);
}
.button {
  font-family: 'Barclaycard Co Lt',Tahoma,sans-serif;
  margin: 10px 0 0 0;
  float: right;
  cursor: pointer;
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  line-height: 18px;
  border-radius: 3px;
  vertical-align: baseline;
  background: #075da8;
  color: white;
  text-decoration: none !important;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #00000088;
}
.button:hover {
  background-color: #059fdb !important;
  color: white;
}
h1 {
  color: #075da8;
  padding-top: 20px; 
}
.center {
  display: flex;
  margin: auto;
}
.icone {
  position: absolute;
  display: flex;
  margin-right: 0%;
  margin-left: 90%;
  margin-top: -3px;
}

#resultado {
  font-family: 'Barclaycard Co Lt',Tahoma,sans-serif;
  margin: 20px 20 20 20;
  display: flex;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 3px;
  background: #075da8;
  color: white;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #00000088;
}